/* Universal Selector */
* {
	/* background-color: rgba(red, green, blue, 0.99); */
	background-color: gray;
}

/* Class Selector */
.h1Class {
	color: rgb(5, 37, 5);
	/* color: rgba(red, green, blue, alpha) */
}

/* Class Selector */
.intro{
	color:green;
}

/* Element Selector. changinig the color of the <p> part with "companies"  */
p.companies{
	color: yellowgreen;
	font-size: 120%;		/* relative size */
}

/* ID Selector. the first sentance "welcoem ..." has a light blue background */
#firstID {
	background-color: rgba(0, 255, 0, 0.3);
  }

/* Attribute Selector. make the link the Canvas (course website) blue and bold */
a[href*="https://canvas"]{
	color: blue;
	font-weight: bold;
	font-size: 15px;		/* absolute size */
}

/* Pseudo-class Selectors. make the button "Tap if you like AV" change when hover over it */
button:hover{
	color:hsla(302, 77%, 40%, 0.7)
}
button:active{
	color:blue;
}

/* Selector list. All h2 & h3 titles would have this fond */
h2, h3 { 
	font-family: helvetica; 
}

/* 3rd party font */
@font-face{
	font-family:Potta;
	src: url(PottaOne-Regular.ttf);
}
h1{
	font-family: Potta;
}

/* Descendant Combinator (element element). Change the list of AV companies to circles */
ul li {
	list-style-type: circle;
  }

/* Child Combinator (element > element). Center & bold the text under the image w/ many companies */
figure > figcaption{
	text-align: center;
	font-weight: bold;
	color:chocolate;			/* text color */
	text-decoration: overline;		/* text-decoration */		
}

/* General sibling combinator (element + element). make that background white */
hr + h3{
	background-color: #ffffff;
}

/* Adjacent sibling combinator (element ~ element). Where choosing pizza flavors */
p ~ div{
	font-weight: bold;
	color: hsl(57, 86%, 45%);
}

/* Combining Two Selectors (element.class). change "hotness" to black color*/
label.blackColor{
	color: #000;
	font-size: 105%;			/* relative unit */
}


.boartLink{
	border-style: double;
	color: rgba(15, 15, 161, 0.459);
	border-width: 0.02cm;		/* absolute unit */
	border-radius: 50px 20px;	/* absolute unit */
	font-size: 120%;			/* relative unit */
}

/* box model - margins long & padding long */
header{
	/* margins - long */
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	/* padding - long*/
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 1%;
	padding-right: 1%;
}

/* box model - margins & padding shorthand */
.img{
	margin: 5px 70px 50px 200px; /* top, right, bottom, left */
	padding: 5px 5px 5px 5px;
}

/* box model - height & width (random blue square below "random stuff" title */
.empty{
	height: 200px;
	width: 50%;
	background-color: powderblue;
}

/* display */
.blk{
	display: inline;
}

.blk2{
	display: inline-block;
}