/* Universal Selector */
* {
	/* background-color: rgba(red, green, blue, 0.99); */
	background-color: gray;
}

/* Class Selector */
.h1Class {
	color: rgb(5, 37, 5);
	/* color: rgba(red, green, blue, alpha) */
}

/* Class Selector */
.intro{
	color:green;
}

/* Element Selector. changinig the color of the <p> part with "companies"  */
p.companies{
	color: yellowgreen;
}

/* ID Selector. the first sentance "welcoem ..." has a light blue background */
#firstID {
	background-color: rgba(0, 255, 0, 0.3);
  }

/* Attribute Selector. make the link the Canvas (course website) blue and bold */
a[href*="https://canvas"]{
	color: blue;
	font-weight: bold;
}

/* Pseudo-class Selectors. make the button "Tap if you like AV" change when hover over it */
button:hover{
	color:hsla(302, 77%, 40%, 0.7)
}
button:active{
	color:blue;
}

/* Selector list. All h2 & h3 titles would have this fond */
h2, h3 { font-family: helvetica; }

/* Descendant Combinator (element element). Change the list of AV companies to circles */
ul li {
	list-style-type: circle;
  }

/* Child Combinator (element > element). Center & bold the text under the image w/ many companies */
figure > figcaption{
	text-align: center;
	font-weight: bold;
}

/* General sibling combinator (element + element) */
hr + h3{
	background-color: #ffffff;
}

/* Adjacent sibling combinator (element ~ element). Where choosing pizza flavors */
p ~ div{
	font-weight: bold;
	color: hsl(57, 86%, 45%);
}

/* Combining Two Selectors (element.class). change "hotness" to black color*/
label.blackColor{
	color: #000;
}